@import "./Variables.scss";

* {
  margin: 0;
  box-sizing: border-box;
}
.page-container {
  width: 100%;
  height: 100vh;
  background-color: rgb(146, 78, 125);
  border-bottom: black 3px solid;
}
.header-container {
  text-align: end;
  width: 100%;
  height: 150px;
  background-image: url(../images/cabecera.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: black 3px solid;
  @include tablet() {
    height: 200px;
  }
}

.header-logo {
  width: 180px;
  padding-right: 20px;
  padding-top: 35px;
  @include tablet() {
    width: 400px;
    height: 150px;
    padding-right: 50px;
  }
  @include desktop() {
    width: 700px;
    height: 160px;
    padding-right: 200px;
    padding-top: 8px;
  }
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/back10.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 0px;
  padding-bottom: 50px;
  border: black 3px solid;
}

/* //FILTER FORM*/
.form-section {
  width: 100%;
  padding: 20px;
  @include tablet() {
    padding-top: 40px;
  }
}
.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include tablet() {
  }
  @include desktop() {
    flex-direction: row;
    justify-content: center;
  }
}
.formName-container {
  @include tablet() {
    padding-right: 30px;
  }
  @include desktop() {
    padding-right: 200px;
  }
}
.formSpecie-container {
  padding-top: 5px;
  padding-left: 20px;
  @include tablet() {
    padding-top: 0px;
  }
}

.formLabelName {
  text-align: center;
  font-family: $font-text;
  font-size: 25px;
  padding-right: 10px;
  -webkit-text-stroke: 1px black;
  color: rgb(255, 164, 32);
  text-transform: uppercase;
  @include tablet() {
    font-size: 40px;
    padding-right: 20px;
  }
}
.formLabelSpecie {
  font-family: $font-text;
  color: rgb(255, 164, 32);
  padding-right: 10px;
  @include tablet() {
    padding-right: 50px;
    font-size: 30px;
    -webkit-text-stroke: 1px black;
    color: rgb(255, 164, 32);
  }
  @include desktop() {
    font-size: 40px;
    padding-right: 20px;
  }
}
.formGif {
  width: 60px;
  font-family: $font-text;
  position: fixed;
  transform: translate(-100px, 25px);
  @include tablet() {
    width: 150px;
    transform: translate(290px, -30px);
  }
  @include desktop() {
    transform: translate(360px, -40px);
  }
}
.formNameInput {
  width: 150px;
  height: 30px;
  padding-left: 10px;
  border-radius: 15px;
  &:focus {
    outline: none;
  }
  @include tablet() {
    width: 190px;
  }
  @include desktop() {
    font-size: 20px;
    width: 300px;
    height: 40px;
  }
}
.formSpecieInput {
  border-radius: 15px;
  &:focus {
    outline: none;
  }
  @include tablet() {
    width: 150px;
    height: 30px;
    padding-left: 10px;
  }
  @include desktop() {
  }
}

/* //CHARACTER LIST */

.characterListElements {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr;
  list-style: none;
  // padding-top: 30px;
  padding-left: 0;
  @include tablet() {
    grid-template-columns: 1fr 1fr;
    padding-top: 0px;
  }
  @include desktop() {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* //CHARACTER CARD */
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: rgb(146, 78, 125) 1px solid;
  border-radius: 24px;
  background-color: rgba(255, 140, 50, 0.9);
  margin: 10px;
  transition: all 0.2s ease;
  &:hover {
    transform: scale(1.1);
    background-color: rgba(92, 225, 230, 0.4);
  }
  @include tablet() {
    border: rgb(146, 78, 125) 5px solid;
    margin: 20px;
    padding: 10px;
  }
  @include desktop() {
    margin: 40px;
  }
}
.img-container {
  width: 100%;
  height: 300px;
  text-align: center;
}
.character-img {
  border-radius: 16px;
}
.character-name {
  color: black;
  padding: 5px;
  font-family: $font-text;
  font-size: 20px;
  @include tablet() {
    font-size: 28px;
    padding: 10px;
  }
}

.character-specie {
  color: rgb(146, 78, 125);
  -webkit-text-stroke: 1px black;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-size: 15px;
  @include tablet() {
    font-size: 28px;
    padding: 10px;
  }
}

/* //CHARACTER DETAIL CARD */
.detail-container {
  width: 300px;
  height: 300px;
  background-color: rgba(93, 193, 185, 0.8);
  // background-color: rgba(92, 225, 230, 0.4);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: black 5px solid;
  font-family: $font-text;
  margin-bottom: 20px;
  @include tablet() {
    width: 590px;
    height: 590px;
  }
}

.detail-img {
  border-radius: 60%;
  width: 130px;
  @include tablet() {
    width: 250px;
  }
}
.detail-name {
  color: rgb(187, 99, 159);
  -webkit-text-stroke: 0.2px black;
  font-size: 18px;
  @include tablet() {
    font-size: 30px;
  }
}
.detailContainer-text {
  font-size: 12px;
  // padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @include tablet() {
    font-size: 20px;
    padding: 15px;
  }
}

.detail-buton {
  font-family: $font-text;
  font-size: 10px;
  width: 60px;
  height: 18px;
  border-radius: 18px;
  border: rgb(187, 99, 159) 2px solid;
  text-transform: uppercase;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  @include tablet() {
    width: 100px;
    height: 30px;
    font-size: 20px;
  }
}

/* //NOT FOUND */
.notFound-container {
  width: 100%;
  padding-top: 20px;
  text-align: center;
  @include tablet() {
    padding-top: 40px;
  }
}

.notFound-text {
  font-family: $font-text;
  font-size: 20px;
  padding: 15px;
  color: black;
  font-weight: bold;
  background-color: rgba(93, 193, 185, 0.8);
  margin-bottom: 10px;
  @include tablet() {
    padding: 30px;
    font-size: 30px;
  }
}
.notFoundImage {
  width: 300px;
  border-radius: 15px;
  border: black 2px solid;
  @include tablet() {
    width: 500px;
  }
}

/* //FOOTER */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: rgba(146, 78, 125, 0.8);
  text-align: center;
}

.footer-text {
  font-family: $font-text;
  font-size: 20px;
  padding: 15px;
}
