* {
  margin: 0;
  box-sizing: border-box;
}

.pokemon-List {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.header {
  text-align: center;
  font-size: 25px;
  color: yellow;
  background-color: darkmagenta;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: thistle;
  text-align: center;
  display: flex;
  align-items: center;
}
.container {
}
.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.pokemon-container {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 10px;
  background-color: slateblue;
}
